.khan__buy-link {
  margin: 0;
  line-height: 42px;
  font-size: 30px;
  text-decoration: none;
  font-weight: normal;
  color: #2f80ed;
  position: relative;
}

.khan__buy-link:hover {
  transition: all linear 0.3s;
  opacity: 0.5; /*Прозрачность изображения*/
}
